body {
    margin: 0px;
    padding: 0px;
}

.menu {
    padding: 0px;
    background-color: slateblue;+
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.menu li {
    padding: 10px 15px;
}

.menu a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
}

.menu a:hover {
    color: black;
}

.derecha {
    margin-left: auto;
    display: flex;
}

.derecha a {
    padding-left: 15px;
}

.derecha a:first-child {
    margin-left: 0px;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .menu ul {
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }

    .menu li {
        width: 100%; /* Ocupa todo el ancho disponible */
        text-align: left; /* Alinea el texto a la izquierda */
        padding: 8px 15px; /* Reduce el padding para pantallas pequeñas */
    }

    .derecha {
        flex-direction: column;/*apila los elementos de la derecha*/
        margin-left: 0;
    }

    .derecha a{
        padding-left: 0px;
    }
}